<h1>Hi</h1>

<form action="/create_zodiac">

  <div>
    <label>Sign</label>
    <input name="symbol" type="text">
  </div>

  <div>
    <label>Creature</label>
    <input name="animcal" type="text">
  </div>

  <div>
    <label>Fortune</label>
    <textarea name="horoscope"></textarea>
  </div>

  <div>
    <button>Submit</button>
  </div>

</form>
